@page
@model ReduceGenderBiasInFeedbackTool.Pages.IndexModel


@{
    ViewData["Title"] = "Index";
}
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <h1>Keep doing...</h1>
            <p>Here's something I think you do really well and hope you keep doing:</p>
            @*<label asp-for="Feedback[0].Body" class="control-label"></label>*@
            <input asp-for="Feedback[0].Body1" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body1" class="text-danger"></span>

            <p>Here's a suggestion for how you can leverage this strength further:</p>
            <input asp-for="Feedback[0].Body2" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body2" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h1>Re-think...</h1>
            <p>Here's something I think you do really well and hope you keep doing:</p>
            @*<label asp-for="Feedback[0].Body" class="control-label"></label>*@
            <input asp-for="Feedback[0].Body3" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body3" class="text-danger"></span>

            <p>Here's a suggestion for how you can leverage this strength further:</p>
            <input asp-for="Feedback[0].Body4" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body4" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h1>Additional thoughts...</h1>
            <p>The thing I most value about working with you is:</p>
            @*<label asp-for="Feedback[0].Body" class="control-label"></label>*@
            <input asp-for="Feedback[0].Body5" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body5" class="text-danger"></span>

            <p>Here are some other thoughts I have that you want to consider:</p>
            <input asp-for="Feedback[0].Body6" value="Enter your comments here" class="form-control" />
            <span asp-validation-for="Feedback[0].Body6" class="text-danger"></span>
        </div>


        <div class="form-group">
            <button type="submit" value="Submit" class="btn btn-primary">Send</button>
        </div>
    </form>
@*    @using (Html.BeginForm("ActionMethod", "ControllerName", FormMethod.Post))
    {
        <h1>Keep doing...</h1>
        <p>Here's something I think you do really well and hope you keep doing:</p>
<textarea placeholder="Enter your comments here"></textarea>

        <p>Here's a suggestion for how you can leverage this strength further:</p>
<textarea placeholder="Enter your comments here"></textarea>

        <h1>Re-think...</h1>
        <p>Here's something you may want to re-think:</p>
<textarea placeholder="Enter your comments here"></textarea>

        <p>Here's an example to consider for doing it another way:</p>
<textarea placeholder="Enter your comments here"></textarea>

        <h1>Additional thoughts...</h1>
        <p>The thing I most value about working with you is:</p>
<textarea placeholder="Enter your comments here"></textarea>

        <p>Here are some other thoughts I have that you want to consider:</p>
<textarea placeholder="Enter your comments here"></textarea>

      @Html.TextAreaFor(m => m.Feedback[0].Body)

        <h1>Index</h1>
        <input type="button" name="button" class="button1" value="Submit" />
    }*@
</div>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Body1)
                @*@Html.TextAreaFor(m => m.Feedback[0].Body)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].HasBeenChecked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBeenChecked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
